@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    font-family: Noto Sans, Roboto, "FontAwesome 6 Free";
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    color: #fda78c;
}

/* The whole bar */
window#waybar {
    background-color: rgba(43, 41, 55, 0);
    font-size: 14px;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#window,
#custom-power,
#mpris,
#submap,
#custom-media,
#custom-pacman {
    padding: 0.5rem 0.75rem;
}

#mpris,
.modules-left,
.modules-right {
    background-color: rgba(43, 41, 55, 0.8);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modules-left {
  border-bottom-left-radius: 0;
}

.modules-right {
  border-bottom-right-radius: 0;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */
window#waybar.empty #window {
  background-color: rgba(0,0,0,0);
}

#mpris {
  color: #ccefbc;
}

#clock {
    color: #fdbb7a;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #ccefbc;
}

#battery.warning {
    color: #fdbb7a;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu {
    color: #f7768e;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #f7768e;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: #f8a8b3;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    border-bottom: 3px transparent;
    color:#ede3e9;
    margin-left: 5px;
    padding: 7px;
}

#network {
  color: #a6cafa;
}

#network.disconnected {
    color: #cc6666;
}

#pulseaudio {
    color: #f8a8b3;
    border-left: 0px;
    border-right: 0px;
    margin-right: 0;
    border-radius: 4px;
}

#pulseaudio.microphone {
    border-left: 0px;
    border-right: 0px;
    margin-left: 0;
    padding-left: 0;
    border-radius: 0 4px 4px 0;
}

#temperature {
  color: #faf7f1;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
    color: #f8a8b3;
}

#custom-media {
    color: #b7c8b3;
}

#workspaces {
    font-size: 14px;
    background-color: #a6cafa;
}

#workspaces * {
    color: #2b2937;
    font-weight: bold;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin: 0;
    padding: 0 0.5rem;
}

#workspaces button.active {
    background-color: #d67262;
    border-bottom: 3px solid #d67262;
    color: #d67262;
}

#custom-power {
    font-size:18px;
    padding-right: 1rem;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}

